@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/jogador">












































<h2>Tela de Jogadores</h2>

@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
}
else
{
    
<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

    <label for="">Nome</label>
    <input type="text" name="Nome">

    <label for="">Email</label>
    <input type="text" name="Email">

    <label for="">Senha</label>
    <input type="password" name="Senha">

    <label for="">Equipe</label>
    <input type="IdEquipe" name="IdEquipe">

    <select name="IdEquipe" id="IdEquipe">

        <option value="0">Selecione uma equipe:</option>

        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            <option value="@equipe.IdEquipe"> @equipe.Nome </option>
        }

    </select>



    @* <label for="">Imagem</label>
    <input type="File" name="Imagem"> *@

    <button type="Submit">Cadastrar</button>


</form>

<table class="table table-striped table-responsive">
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Equipe</th>
    </thead>

    <tbody>
        @foreach (Jogador jogador in ViewBag.Jogador)
        {
            <tr>
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>
                <td>@jogador.Email</td>
                <td>
                    <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                </td>

                <th>
                    <a asp-area="" asp-controller="Jogador" asp-action="Excluir"
                        asp-route-id="@jogador.IdJogador">Excluir</a>
                </th>

                <th>
                    <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">Editar</a>
                </th>


            </tr>
        }
    </tbody>
</table>
}
